<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.jsdt.js.node.NodeLaunchConfigurationType">
<stringAttribute key="attr_app_arguments" value=""/>
<stringAttribute key="attr_app_path" value=""/>
<stringAttribute key="attr_app_project" value=""/>
<stringAttribute key="attr_node_arguments" value=""/>
</launchConfiguration>
